<!-- views/partials/footer.ejs -->
<section id="footer">
    <span>This web app has been edited by:</span>
    <ul>
      <li><a href="https://github.com/jondivi">Jon</a></li>
      <li><a href="https://github.com/wo1vin">Scar</a></li>
      <li><a href="https://github.com/TheSunnyDev">Sunny</a></li>
      <li><a href="https://github.com/codebyshane">Shane</a></li>
      <li><a href="https://github.com/ElektrazCode">Mary</a></li>
      <li><a href="https://github.com/ismailydev">Ismail</a></li>
    </ul>
  </section>